motd:
  content: |
           ####################################################
           #                                                  #
           #            This host is managed by Salt          #
           #                                                  #
           ####################################################